body {
    background-color: #f5f8fa;
}

nav {
  background-color: #0099CC;
}

.menu{
  background-color: transparent;
}
.menu ul a {
  color: #666;
}
ul #login-dropdown {
  position: static!important;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
